<%= render :partial => 'house/nav' %>

<%= list_item_count_sentence( 'answering body', @answering_bodies.size ) %>

<table id="answering-bodies">
	<%= render :partial => 'table_head' %>
	<tbody>
		<%= render :partial => 'answering_body', :collection => @answering_bodies %>
	</tbody>
</table>