<nav class="subnav">
	<p>
		<%= link_to( 'Questions', house_show_url ) %>
		<%= link_to( 'Answering bodies', house_answering_body_list_url ) %>
		<%= link_to( 'Members', house_member_list_url ) %>
	</p>
</nav>