<div class="context-nav context-nav-brand" role="navigation" aria-label="Breadcrumb">
  <nav class="container">
    <ol class="breadcrumb">
      <% if @crumb.empty? -%>
        <li>
          <%= $SITE_TITLE %>
        </li>
      <% else -%>
        <li>
          <%= link_to( $SITE_TITLE, home_url ) %>
        </li>
        <%= render partial: 'library_design/header/crumb_item', collection: @crumb %>
      <% end -%>
    </ol>
  </nav>
</div>