<header>
	<a href="#main-content" class="skip-to-content">Skip to main content</a>
	<%= render 'layouts/header/portcullis' %>
	<div class="product-header">
		<div class="container">
			<%= link_to( $SITE_TITLE, home_url, class: 'title' ) %>
		</div>
	</div>
	<nav class="container" id="header-nav">
		<%= yield %>
	</nav>
</header>
	<%= render 'layouts/header/crumb' %>
