<%= list_item_count_sentence( 'tabling Member', @members.size ) %>

<table id="members" class="table sortable sorted-<%= @order %>">
	<%= render :partial => 'table_head' %>
	<tbody>
		<%= render :partial => 'member', :collection => @members %>
	</tbody>
</table>