/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 
 /* Main navigation active states */
body.section-questions nav#header-nav a.questions {
	border-bottom-color: #fff;
}
body.section-houses nav#header-nav a.houses {
	border-bottom-color: #fff;
}
body.section-answering-bodies nav#header-nav a.answering-bodies {
	border-bottom-color: #fff;
}
body.section-members nav#header-nav a.members {
	border-bottom-color: #fff;
}

/* Secondary navigation active states */
body.subsection-questions .subnav a.questions {
	border-bottom-color: #373151;
	color: #5f2db4;
}
body.subsection-answering-bodies .subnav a.answering-bodies {
	border-bottom-color: #373151;
	color: #5f2db4;
}
body.subsection-members .subnav a.members {
	border-bottom-color: #373151;
	color: #5f2db4;
}