<footer>
	<%= content_tag( 'p', "&copy; House of Commons #{Date.today.year}. Re-use our content freely and flexibly with only a few conditions under the #{link_to( 'Open Parliament Licence', 'https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/', :rel => 'license' ) }.".html_safe ) %>
	<p>
		<a href="https://www.parliament.uk/site-information/accessibility/">Accessibility statement</a>
		-
		<%= link_to( 'Cookies', meta_cookies_url )  %>
		-
		<a href="https://commonslibrary.parliament.uk/privacy-policy/">Privacy notice</a>
	</p>
</footer>