<footer>
	<p>
		<a href="https://www.parliament.uk/site-information/accessibility/">Accessibility statement</a>
		-
		<%= link_to( 'Cookies', meta_cookies_url )  %>
		-
		<a href="https://commonslibrary.parliament.uk/privacy-policy/">Privacy notice</a>
	</p>
</footer>